// Font properties
	$font-primary: "Roboto",serif;              // Barlow
	$font-family: 'Nunito Sans', sans-serif;    // Hind
// color
	$color-primary: #d35ba1; //#30228d; 
	$color-secondary: #5bc7ff;//:#0577ff; 
	$color-white: #FFF; 
	$color-gray: #f4f5fa; 
	$color-dark-gray: #939393;  //font color in black bg
    $color-content: #5b6674;
	$color-font: #041026;  
    $color-black: #000;